{% extends "base.html" %} {% block title %}#{{ term.name }} &mdash; {{
config.title }}{% endblock title %} {% block content %}
<h1>#{{ term.name }}</h1>

<ul class="post-list">
    {% for post in term.pages %}
    <li class="post-list-item">
        <a href="{{ post.permalink }}">{{ post.title }}</a>
        <span class="post-list-meta">
            {% if post.extra.update %}<span class="updated-marker">update</span
            >{% endif %}
            <time datetime="{{ post.date }}"
                >{{ post.date | date(format="%Y-%m-%d") }}</time
            >
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
